<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edwin.subapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sub"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".multiapp.RemoteContentProvider"
            android:authorities="remote.content.provider"
            android:enabled="true"
            android:exported="true">

        </provider>

        <receiver
            android:name=".multiapp.RemoteAppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="4">
                <action android:name="app_broadcast_action" />
            </intent-filter>
        </receiver>

        <service
            android:name=".multiapp.RemoteAppService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SubMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>